body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.join-our-program-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  background-image: url("./assets/images/joinourprogram.png");
  height: 436px;
  background-repeat: no-repeat;
  background-size: cover;
}

.join-our-program {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-h2 h3 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
}

.join-p {
  width: 350px;
  position: relative;
  top: -49px;
}

.join-p p {
  font-family: "Source Sans Pro";
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}
form {
  display: flex;
  justify-content: space-between;
  width: 580px;
}
form input {
  width: 400px;
  height: 37px;
  background: rgba(255, 255, 255, 0.15);
  outline: none;
  border: 0px solid;
}

form input::placeholder {
  color: white;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
}
form button {
  background: #55c2d8;
  height: 36px;
  width: 111px;
  left: 0px;
  top: 0px;
  border-radius: 18px;
  color: white;

  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  border: 0px solid;
}
